<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <span class="<%= address.glyphicon %>"></span>
      <a data-toggle="collapse" data-parent="#order_data" href="#order_data_address_<%= address.id %>"><%= address.title %></a>
    </h4>
  </div>
  <div id="order_data_address_<%= address.id %>" class="panel-collapse collapse">
    <div class="panel-body">
      <div class="form-group">
        <label class="control-label"><%= Address.human_attribute_name(:full_name) %></label>
        <span class="form-control"><%= address.full_name %></span>
      </div>
      <div class="form-group col-sm-6">
        <label class="control-label"><%= Address.human_attribute_name(:phone) %></label>
        <span class="form-control"><%= address.phone %></span>
      </div>
      <div class="form-group col-sm-6">
        <label class="control-label"><%= Address.human_attribute_name(:email) %></label>
        <span class="form-control"><%= address.email %></span>
      </div>
      <div class="form-group col-sm-6">
        <label class="control-label"><%= Address.human_attribute_name(:hospital) %></label>
        <span class="form-control"><%= address.hospital %></span>
      </div>
      <div class="form-group col-sm-6">
        <label class="control-label"><%= Address.human_attribute_name(:department) %></label>
        <span class="form-control"><%= address.department %></span>
      </div>
      <div class="form-group">
        <label class="control-label">Anschrift</label>
        <span class="form-control"><%= address.street_1 %> <%= address.street_2 %>, <%= address.zip %> <%= address.city %></span>
      </div>
      <div class="form-group">
        <label class="control-label">Referenznummer</label>
        <span class="form-control"><%= address.reference %></span>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="order_data_address_form_<%= address.id %>">
  <div class="modal-dialog">
    <%= form_for(address,remote: true, html: {class: 'modal-content', role: 'form'}) do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-dr_title">Auftrag bearbeiten</h4>
      </div>
      <div class="modal-body" style="padding-bottom: 0px;">
        <h4>Ansprechpartner</h4>
        <% [:first_name, :last_name, :phone, :email].each do |attribute| %>
          <div class="form-group col-sm-6">
            <%= f.label(attribute, class: "control-label") %>
            <%= f.text_field(attribute, class: 'form-control') %>
          </div>
        <% end %>
        <h4>Anschrift</h4>
        <% [:hospital, :department, :street_1, :street_2, :zip, :city].each do |attribute| %>
          <div class="form-group col-sm-6">
            <%= f.label(attribute, class: "control-label") %>
            <%= f.text_field(attribute, class: 'form-control') %>
          </div>
        <% end %>
        <h4>Sonstiges</h4>
        <div class="form-group col-sm-6">
          <%= f.label(:reference, class: "control-label") %>
          <%= f.text_field(:reference, class: 'form-control') %>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
        <%= f.submit(Address.human_attribute_name("update"), class: 'btn btn-primary') %>
      </div>
    <% end %>
  </div>
</div>
