<div class="col-sm-6" id="orderDetails">
  <div class="panel-group" id="order_file">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <span class="glyphicon glyphicon-cloud-upload"></span>
          <a data-toggle="collapse" data-parent="#order_files" href="#order_file_upload">Daten hochladen</a>
        </h3>
      </div>
      <div id="order_file_upload" class="panel-collapse collapse in">
        <div class="panel-body">
          <div id="uploader" class="col-md-6"></div>
          <div class="popover right in col-md-5 hidden-xs hidden-sm">
            <div class="arrow" style=""></div>
            <h3 class="popover-title"><span class="label label-success">Tipp:</span> Mehrfachauswahl</h3>
            <div class="popover-content">Laden Sie bitte Ihre Daten hoch, indem Sie in der Ordneransicht alle Ihre Dateien markieren.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-6" id="orderDetails">
  <div class="panel-group" id="order_data">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <span class="glyphicon glyphicon-pushpin"></span>
          <a data-toggle="collapse" data-parent="#order_data" href="#order_data_overview">Auftragsübersicht</a>
        </h3>
      </div>
      <div id="order_data_overview" class="panel-collapse collapse in">
        <div class="panel-body">
          <div class="form-group">
            <label class="control-label">Status</label>
            <span class="form-control"><%= @order.aasm_state %></span>
          </div>
          <div class="form-group">
            <label class="control-label">Auftragsnummer</label>
            <span class="form-control"><%= @order.order_number %></span>
          </div>
          <div class="form-group">
            <label class="control-label">Kontakt</label>
            <span class="form-control"><%= @order.user.full_name %></span>
          </div>
          <div class="form-group">
            <label class="control-label">E-Mail:</label>
            <span class="form-control"><%= @order.user.email %></span>
          </div>
          <div class="form-group">
            <label class="control-label">Ansprechpartner:</label>
            <span class="form-control"><%= @order.admin_user.email %></span>
          </div>
        </div>
      </div>
    </div>
    <%= render partial: "address", collection: @order.addresses %>
  </div>
</div>

<script type="text/template" id="qq-template-bootstrap">
  <div class="qq-uploader-selector qq-uploader span12">
    <span class="btn btn-success qq-upload-button-selector qq-upload-button">
      <i class="glyphicon glyphicon-plus"></i>
      <span>Dateien auswählen</span>
    </span>
    <ul class="qq-upload-list-selector qq-upload-list" style="margin-top: 10px; text-align: center;">
      <li>
        <div class="qq-progress-bar-container-selector">
          <div class="qq-progress-bar-selector qq-progress-bar"></div>
        </div>
        <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
        <span class="qq-upload-file-selector qq-upload-file"></span>
        <span class="qq-upload-size-selector qq-upload-size"></span>
        <a class="qq-upload-cancel-selector qq-upload-cancel" href="#">Cancel</a>
        <span class="qq-upload-status-text-selector qq-upload-status-text"></span>
      </li>
    </ul>
  </div>
</script>
<%= javascript_include_tag "fineuploader/app", "data-turbolinks-track" => true %>
