<div class="progress progress-striped">
  <div class="progress-bar progress-bar-primary" style="width: 25%"><span>Datenupload</span></div>
  <div class="progress-bar progress-bar" style="width:25%; background-color: #A3A3A3;"><span>Datenfreigabe</span></div>
  <div class="progress-bar progress-bar" style="width:25%; background-color: #A3A3A3;"><span>In Produktion</span></div>
  <div class="progress-bar progress-bar" style="width:25%; background-color: #A3A3A3;"><span>Versand</span></div>
</div>
<%= render partial: @order.aasm_state %>
<div class="col-sm-6">
  <div class="panel-group" id="order_data">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <span class="glyphicon glyphicon-pushpin"></span>
          <a data-toggle="collapse" data-parent="#order_data" href="#order_data_overview">Auftragsübersicht</a>
        </h3>
      </div>
      <div id="order_data_overview" class="panel-collapse collapse in">
        <div class="panel-body">
          <div class="form-group col-md-6 col-pad-right">
            <label class="control-label">Auftragsnummer</label>
            <span class="form-control"><%= @order.order_number %></span>
          </div>
          <div class="form-group col-md-6 col-pad-left">
            <label class="control-label">Sicherheitsschlüssel</label>
            <span class="form-control"><%= @order.security_key %></span>
          </div>
          <label class="control-label">Ihr Persönlicher Ansprechpartner</label>
          <address>
            <%= @order.admin_user.first_name %> <%= @order.admin_user.last_name %><br />
            <abbr title="Phone">T:</abbr> <%= @order.admin_user.phone %><br />
            <abbr title="Email">E:</abbr> <%= @order.admin_user.email %>
          </address>
        </div>
      </div>
    </div>
    <%= render partial: "address", collection: @order.addresses %>
  </div>
</div>
<%= hidden_field_tag 'order_uploads_url', order_uploads_url(order_order_number: @order.order_number) %>
<%= render partial: "upload_modals" %>
<script type="text/template" id="qq-template-bootstrap">
  <div class="qq-uploader-selector qq-uploader span12">
    <span class="btn btn-success qq-upload-button-selector qq-upload-button">
      <i class="glyphicon glyphicon-plus"></i>
      <span>Dateien auswählen</span>
    </span>
    <ul class="qq-upload-list-selector qq-upload-list" style="margin-top: 10px; text-align: center;">
      <li>
        <div class="qq-progress-bar-container-selector">
          <div class="qq-progress-bar-selector qq-progress-bar"></div>
        </div>
        <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
        <span class="qq-upload-file-selector qq-upload-file"></span>
        <span class="qq-upload-size-selector qq-upload-size"></span>
        <a class="qq-upload-cancel-selector qq-upload-cancel" href="#">Cancel</a>
        <span class="qq-upload-status-text-selector qq-upload-status-text"></span>
      </li>
    </ul>
  </div>
</script>
<%= javascript_include_tag "fineuploader/app", "data-turbolinks-track" => true %>
